name: Sync Fork

on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at 00:00 UTC
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Git user
        run: |
          git config --global user.name "Max Lieberman"
          git config --global user.email "maxlieb90@gmail.com"
      - name: Sync Fork (force mirror)
        run: |
          git remote add upstream https://github.com/filebrowser/filebrowser.git
          git fetch upstream
          git checkout master
          git reset --hard upstream/master
          git push origin master --force
